<div class="main">
    <div class="images">
        <div class="imgtop"></div>

        <div class="whatwedopage">
            <div class="whatwedoimg">
                <div class="title2">
                    What do we do?
                </div>
                <div class="infowhatwedo">
                    We are an interactive platform dedicated to touching every student out there and impacting their education and productivity in a positive manner!
                </div>
            </div>
        </div>

        <!-- <div class = "randomimg"></div> -->
    </div>
    <div class="maincont">
        <div class="toptrans">
            <div class="content">
                <div class="name">
                    EDUCTIVITY
                </div>
                <div class="tagline">
                    A one stop solution for everything, from education to productivity!
                </div>
                <!-- <div class = "custbutton">
                    Shop now
                </div> -->
            </div>
        </div>
        <div class="infosec">
            <div class="name2">
                A one Stop Solution!Let's learn together!
            </div>
            <div class="info">
                <div style="font-size:x-large;font-weight: 100;">
                    Our aim is to provide a place where students can study, interact, rest, and stay up to date with everything!
                </div>

                <div class="main">
                    <div class="section text-center">
                    <div class="container">
                        <br/><br/>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="info">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mood-happy" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#00abfb" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <circle cx="12" cy="12" r="9" />
                                        <line x1="9" y1="9" x2="9.01" y2="9" />
                                        <line x1="15" y1="9" x2="15.01" y2="9" />
                                        <path d="M8 13a4 4 0 1 0 8 0m0 0h-8" />
                                      </svg>
                                    <div class="description">
                                        <h4 class="info-title">Track your Productivity and your mood!</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="info">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-hipchat" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffbf00" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M17.802 17.292s.077 -.055 .2 -.149c1.843 -1.425 2.998 -3.49 2.998 -5.789c0 -4.286 -4.03 -7.764 -8.998 -7.764c-4.97 0 -9.002 3.478 -9.002 7.764c0 4.288 4.03 7.646 9 7.646c.424 0 1.12 -.028 2.088 -.084c1.262 .82 3.104 1.493 4.716 1.493c.499 0 .734 -.41 .414 -.828c-.486 -.596 -1.156 -1.551 -1.416 -2.29z" />
                                        <path d="M7.5 13.5c2.5 2.5 6.5 2.5 9 0" />
                                      </svg>
                                    <div class="description">
                                        <h4 class="info-title">Openly Interact with people!</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="info">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-notebook" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fd0061" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M6 4h11a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-11a1 1 0 0 1 -1 -1v-14a1 1 0 0 1 1 -1m3 0v18" />
                                        <line x1="13" y1="8" x2="15" y2="8" />
                                        <line x1="13" y1="12" x2="15" y2="12" />
                                      </svg>
                                    <div class="description">
                                        <h4 class="info-title">Study with some amazing resources! </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="info">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-globe" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#6f32be" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <circle cx="12" cy="10" r="4" />
                                        <path d="M6.75 16a8.015 8.015 0 1 0 9.25 -13" />
                                        <line x1="12" y1="18" x2="12" y2="22" />
                                        <line x1="8" y1="22" x2="16" y2="22" />
                                      </svg>
                                    <div class="description">
                                        <h4 class="info-title">Stay Updated with latest news!</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                
                    </div>
                </div>
            </div>


            </div>
         
          
        <div class="whatwedo">

        </div>
        <div class="spaces">
            <div class="name2">
                Explore our Features!
            </div>
<div class="parent1">
            <div class="card 1">
                <div class="card_image"> <img src="https://media.giphy.com/media/YnBntKOgnUSBkV7bQH/giphy.gif" /> </div>
                <div class="card_title title-white">
                  <p>Mood!</p>
                </div>
              </div>
              <div class="card 1">
                <div class="card_image"> <img src="https://media.giphy.com/media/kGuPgHnagBXKGqcUP2/giphy.gif" /> </div>
                <div class="card_title title-white">
                  <p>Discuss!</p>
                </div>
              </div>
              <div class="card 1">
                <div class="card_image"> <img src="https://media.giphy.com/media/fXo1IT0aoGCWXw4lzd/giphy.gif" /> </div>
                <div class="card_title title-white">
                  <p>Study!</p>
                </div>
              </div>
              <div class="card 1">
                <div class="card_image"> <img src="https://media.giphy.com/media/3o6Mb5xqwSeLWgwOnC/source.gif" /> </div>
                <div class="card_title title-white">
                  <p>Stay Updated!</p>
                </div>
              </div>
</div>
            <!-- <div class="spacespace">
                <div class = "space" *ngFor = "let x of spaces; let i = index" routerLink={{x.link}}>
                    <div class = "spaceimg"><img src = {{x.image}} style="height: 100%; width: 100%;"></div>
                    <div class = "namespace">{{x.name}}</div>
                </div>
            </div> -->

        </div>
    </div>

</div>